<div style="padding:0px;margin:0px;height:80px;" data-role="header" role="banner" data-position="fixed" data-theme="b">
        <ul class="header">
            <img src="@Url.Content("~/Content/Images/WebOrder/ButtonBack.png")" class="button-back header-image"/>
            <img src="@Url.Content("~/Content/Images/WebOrder/DonataTitle.png")" class="donata-title header-image" />
            <img src="@Url.Content("~/Content/Images/WebOrder/DonataLogo.png")" class="donata-logo header-image" />
        </ul> 
</div>