

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $.post("/file/uploadfile",
            {
                rootDirectory: 'c:\\test',
                verifyCode: '3343'
            }
             );
        }
    );
    </script>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
